@use '../../../assets/scss/foundation/fonts';
@use '../../../assets/scss/foundation/colours';

.cardLabel {
    @include fonts.callout;
    @include fonts.medium;
    color: colours.$blueberry-80;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}