.footer {
  background-color: #fcfcfd;
}

.accordion .card {
  border: unset;
  background: unset;
  border-radius: unset;

  .card-header {
    border-bottom: unset;
    background-color: unset;
    padding: unset;
  }

  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01rem;
    color: #1e202e;
  }
}
a a:hover {
  text-decoration: none;
}
