.login-container {
  background-color: transparent;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  margin: 10% 0; }
  .login-container .logo-container {
    margin-bottom: 35px; }
    .login-container .logo-container .img-logo {
      width: 100%; }
  .login-container .input-container {
    margin-bottom: 25px; }
  .login-container .error-message {
    color: red;
    font-weight: bolder;
    text-align: left; }
  .login-container .welcome-quote {
    color: #0d243d !important;
    font-size: 20px;
    font-family: CircularProBold, sans-serif; }
  .login-container .login-form {
    text-align: center; }
    .login-container .login-form .log-in-button {
      font-family: "TradeGothicLTPro-BdCn20", Fallback, sans-serif;
      font-size: 24px; }
    .login-container .login-form input {
      color: #0d243d !important;
      font-family: CircularProBook, sans-serif; }
      .login-container .login-form input::placeholder {
        color: #2E445C !important; }
    .login-container .login-form .center-text {
      margin-top: 17px;
      font-family: TradeGothic, sans-serif; }
      .login-container .login-form .center-text .sign-up-text {
        font-size: 18px;
        font-family: "TradeGothicLTPro-BdCn20", Fallback, sans-serif;
        margin-bottom: 5px;
        color: #0d243d !important; }
      .login-container .login-form .center-text .forgot-password-text {
        color: #0d243d !important;
        font-family: "TradeGothicLTPro-BdCn20", Fallback, sans-serif; }
