@import '../../scss/_global.scss';
@import '../../scss/_fonts';

.signupNav {
  margin-right: 5%;
  margin-bottom: 20px;

  .signup-btn {
    margin-left: 20px;
    margin-right: 20px;
  }

  .link {
    padding-top: 5px;
  }
}

.centered {
  margin-left: 20px;
  padding-top: 20px;
  color: $charcoal-110;
  text-align: center;
  vertical-align: middle;
}
