.signupNav {
    margin-right: 5%;
    margin-bottom: 20px;
}
.centered {
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
}

.signup-btn {
    margin-left: 20px;
    margin-right: 20px;
}
