// Primary Colours

$uptrade-primary: #2fbfe4;
$uptrade-lighter: #63cfeb;
$uptrade-darker: #178fae;

$spring-green-110: #42a685;
$spring-green-100: #3b9578;

// Secondary Colours

$yellow: #ffc270;
$cream-100: #ffe3bd;
$charcoal-110: #1e202e;
$grey-80: #555768;
$grey-70: #6b6c7b;
$cream-60: #ffeed7;
$cream-40: #fff4e5;
$cream-20: #fff9f2;
$off-white: #f5f5f5;
$white: #ffffff;
